.sheet-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: var(--background);

}

.sheet-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
    overflow-y: scroll;

    scrollbar-width: none;
}

.sheet-header {
    height: 60px;
    margin-left: 1%;
    margin-right: 1%;
    
    display: flex;
    flex-direction: row;
    gap: 1rem;

    
    
    border-bottom: 2px solid #a0a0a0;
}

.sheet-header input {
    outline: none;
    
    flex: 1;

    font-size: 30px;
    font-weight: 500;
    overflow: hidden;

    border: none;
    background-color: var(--background);
    color: var(--text);
}

.sheet-sidebar {
    width: 25%;
    height: 98vh;

    border-left: 3px solid var(--light-grey);
}

