.sidebar-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 3px;

    overflow: scroll;
}

.point-of-interest {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    padding: 1rem;

    background-color: var(--transparent-grey);
}

.point-of-interest:hover {
    cursor: pointer;
    background-color: var(--medium-grey);
}