.front-page-todos-container {
    width: 100%;
    padding: 0.5rem 1.25rem 1rem 1.25rem;

    flex: 1;
    display: flex;
    flex-direction: column;

    background-color: var(--clr-surface-a10);

    font-size: 24px;

    border-radius: 25px;
    flex-shrink: 0;

    box-sizing: border-box;
}

.todos-container {
    height: 30rem;
}

.todos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.todos-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.todos-header-left {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.todos-header-switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    user-select: none;
}

.todos-header-switch-entry {
    font-size: 16px;
    color: var(--clr-surface-a60);

    border-radius: 10px;
    padding: 0.3rem;
}

.todos-header-switch-entry.active {
    color: var(--clr-light-a0);
    background-color: var(--clr-surface-a20);
}

.todos-header-switch-entry:hover {
    background-color: var(--clr-surface-a20);
    cursor: pointer;
}

.todos-header-right {
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.todo-empty-todos {
    height: 80%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;

    padding: 0 10px 0 10px;

    font-size: 14px;

    background-color: var(--clr-surface-a20);
    border-radius: 10px;

    user-select: none;
}

.todo-empty-todos svg {
    font-size: 18px;
}

.todo-empty-todos:hover {
    cursor: pointer;
    background-color: var(--clr-surface-a30);
}

.todo-empty-todos:hover svg {
    color: var(--clr-danger-a10);
}

.todos-create {
    width: 24rem;
    height: 100%;

    padding-left: 1rem;
    padding-right: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    color: var(--clr-surface-a70);
    background-color: var(--clr-surface-a0);
    border-radius: 15px;
    
    overflow: hidden;
    box-sizing: border-box;
}

.todos-create svg {
    font-size: 26px;
}

.todos-create svg:hover {
    cursor: pointer;
    color: var(--clr-surface-a50);
}

.todos-input {
    width: 100%;
    height: 100%;
    
    color: var(--clr-surface-a70);
    font-size: 16px;
    
    background-color: transparent;
    
    border: 0;
    outline: none;
}

.todos-entries {
    width: auto;
    min-height: 13rem;
    max-height: 13rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1rem;


    overflow-x: auto;
    scrollbar-width: none;
}

.todo-entry {
    width: 33rem;
    height: 2.5rem;

    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 0.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: var(--clr-surface-tonal-a10);
    border-radius: 10px;

    box-sizing: border-box;
    user-select: none;
}

.todo-entry p {
    font-size: 18px;
}

.todo-entry s {
    color: var(--clr-surface-a50);
}

.todo-content {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;

    z-index: 1;
}

.todo-entry-checkbox {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
}

.todo-entry-checkbox svg {
    color: var(--clr-primary-a20);
}

.todo-content:hover {
    cursor: pointer;
}

.todo-content:hover svg {
    color: var(--clr-primary-a0);
}

.todo-delete {
    z-index: 999;
}

.todo-delete:hover {
    cursor: pointer;
    color: var(--clr-danger-a10);
}