.thumbnail-wrapper {
    width: 9rem;
    height: 11rem;

    padding: 1rem;
    
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--clr-surface-tonal-a20);
    overflow: hidden;
    
    text-align: center;
    
    display: flex;
    flex-direction: column;

    transition: 0.3s ease-in-out;

    flex-shrink: 0;
}

.thumbnail-type-icon {
    height: 60%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.thumbnail-type-icon img {
    width: 55%;
}

.thumbnail-info {
    height: 40%;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.thumbnail-title {
    height: 70%;

    font-size: 16px;
    line-height: 17px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail-date {
    height: 30%;

    color: var(--clr-surface-a50);
    font-size: 12px;
}