.thumbnail-wrapper {
    width: 7rem;
    height: 8rem;

    padding: 0.5rem;
    
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--clr-surface-tonal-a20);
    overflow: hidden;
    
    text-align: center;
    
    display: flex;
    flex-direction: column;

    flex-shrink: 0;

    user-select: none;
}

.thumbnail-wrapper.opened {
    background-color: var(--clr-surface-tonal-a30);
}

.thumbnail-wrapper:hover {
    cursor: pointer;
    background-color: var(--clr-surface-tonal-a30);
}

.thumbnail-type-icon {
    height: 55%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail-type-icon img {
    width: 40%;
}

.thumbnail-type-icon svg {
    font-size: 55px;
    color: var(--clr-primary-a20);
}

.thumbnail-info {
    height: 45%;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.thumbnail-title {
    height: 70%;

    font-size: 13px;
    line-height: 17px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail-title-lecture-course {
    height: 45%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail-date {
    height: 30%;

    color: var(--clr-surface-a50);
    font-size: 10px;
}

.thumbnail-title-edit {
    width: 100%;
    height: 45%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail-title-edit textarea {
    width: 95%;
    height: 90%;
    
    background-color: var(--clr-surface-tonal-a0);    
    border: none;
    border-radius: 8px;

    color: var(--text);

    font-size: 14px;

    text-align: center;

    padding: 2px;

    outline: none;
    resize: none;
    scrollbar-width: none;
}