.thumbnail-container-wrapper {
    height: 100%;
    width: 100%;

    background-color: var(--clr-surface-a10);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

.thumbnail-container-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1.5rem;

    box-sizing: border-box;

    overflow-x: scroll;
    overflow-y: hidden;

    scrollbar-width: none;
}

.thumbnail-container-arrow-left,
.thumbnail-container-arrow-right {
    height: 100%;
    width: 3rem;
    
    margin-left: 1rem;
    margin-right: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.thumbnail-container-arrow-left:hover,
.thumbnail-container-arrow-right:hover {
    cursor: pointer;
    background-color: var(--clr-surface-a10);
}