:root {
    /** Base colors */
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;
    --clr-light-a10:rgba(173, 173, 173, 0.795)f;

    /** Theme primary colors */
    --clr-primary-a0: #34bf9a;
    --clr-primary-a10: #55c7a5;
    --clr-primary-a20: #6fceb0;
    --clr-primary-a30: #86d5bb;
    --clr-primary-a40: #9cdcc6;
    --clr-primary-a50: #b0e4d1;
    --clr-primary-a60: #c4ebdc;
    --clr-primary-a70: #d8f1e8;
    --clr-primary-a80: #ecf8f3;
    --clr-primary-a90: #ffffff;

    /** Theme surface colors */
    --clr-surface-a0: #1a1a1a;
    --clr-surface-a10: #2f2f2f;
    --clr-surface-a20: #454545;
    --clr-surface-a30: #5d5d5d;
    --clr-surface-a40: #767676;
    --clr-surface-a50: #909090;
    --clr-surface-a60: #aaaaaa;
    --clr-surface-a70: #c6c6c6;

    /** Theme tonal surface colors */
    --clr-surface-tonal-a0: #202825;
    --clr-surface-tonal-a10: #353c39;
    --clr-surface-tonal-a20: #4b524f;
    --clr-surface-tonal-a30: #626866;
    --clr-surface-tonal-a40: #7a807d;
    --clr-surface-tonal-a50: #939896;
    --clr-surface-tonal-a60: #adb1af;
    --clr-surface-tonal-a70: #c8cac9;

    /** Success colors */
    --clr-success-a0: #22946e;
    --clr-success-a10: #47d5a6;
    --clr-success-a20: #9ae8ce;

    /** Warning colors */
    --clr-warning-a0: #a87a2a;
    --clr-warning-a10: #d7ac61;
    --clr-warning-a20: #ecd7b2;

    /** Danger colors */
    --clr-danger-a0: #9c2121;
    --clr-danger-a10: #d94a4a;
    --clr-danger-a20: #eb9e9e;

    /** Info colors */
    --clr-info-a0: #21498a;
    --clr-info-a10: #4077d1;
    --clr-info-a20: #92b2e5;


    --text: var(--clr-light-a0);
}