.sheet-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-y: scroll;

    background-color: var(--background);

}

.sheet-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.sheet-content input {
    outline: none;
    height: 60px;
    width: 40%;

    font-size: 35px;
    font-weight: 500;
    overflow: hidden;

    border: none;
    border-bottom: 2px solid #c2c2c2;
}

.content-textarea {
    margin-bottom: 3rem;
    width: 95%;
    min-height: 85vh;
    max-height: 100%;
    overflow: hidden;
    padding: 12px;
    font-size: 20px;
    line-height: 1.5rem;
    box-sizing: border-box;

    resize: none;
    outline: none;
    overflow: hidden;

    font-weight: 500;

    tab-size: 2;
    -moz-tab-size: 2;
}

.sheet-sidebar {
    width: 20rem;
    height: 95vh;

    border-left: 2px solid #c2c2c2;
}

